@charset "utf-8";

$md: 768px;
$sm: 320px;

@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}

.new-list {
  margin: 50px auto;
  list-style: none;
  width: 90%;
  max-width: 1000px;
  @include md {
    width: 90%;
  }
}

.new-list-form {
  color: #555555;
  @include md {
    width: 90%;
  }
}

.new-list-title {
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
