@charset "utf-8";

$md: 768px;
$sm: 320px;

@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}

.signin {
  margin: 50px auto;
  list-style: none;
  width: 90%;
  max-width: 1000px;
  @include md {
    width: 90%;
  }
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
